.right {
    float: right;
}

.left {
    float: left;
}

#nav {
    display: block;
    display: inline-block;
    width: 98vw;
    border-radius: 5px;
    margin: 6px;
    color: green;
}

/* main section */

body {
    font-family: 'Roboto Slab', arial;
    background-color: whitesmoke;
}

#quizBody {
    text-align: center;
    padding: 12vh;
}

h4 {
    padding: 10px 8px 10px 8px;
    color: green;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: green;
}

#quiz {
    text-align: center;
}